@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@font-face {
  font-family: "nordblack";
  src: url("../../Fonts/ABCGintoNord-Black-Trial.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "bigdeal";
  src: url("../../Fonts/BigDeal-nRDJg.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "american";
  src: url("../../Fonts/TypoSlab Irregular Demo.otf") format("opentype");
  font-weight: normal;
}
#main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#main .container {
  display: flex;
  justify-content: center;
  width: 90%;
  flex-direction: column;
}
#main #headline {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
  margin: 1.5em 0;
  font-family: "nordblack";
  font-weight: normal;
}
#main #headline h3 {
  text-align: center;
}
#main #services {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#main section .card img {
  height: 5em;
}
#main section .card .illustration {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
#main section .card {
  color: white;
  display: flex;
  width: 350px;
  height: 12em;
  padding: 1em;
  background-color: #B126F9;
  border-radius: 3px;
  cursor: default;
}
#main section .card h2 {
  font-family: "nordblack";
  font-weight: normal;
}
#main section .card p {
  font-family: "Lato";
  font-weight: 700;
}
#main section .card .headline-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  flex-direction: column;
}
#main section .card span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

#scrollToDown {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #9d00ff;
}

::-webkit-scrollbar-thumb {
  background: #582398;
}